
.routing_progress-bb66a2d progress {
  height: 10px;
  width: 100%;
}

.separator-bb66a2d{
  margin: var(--spacing-base) 0;
  border: none;
  height: 3px;
  background: linear-gradient(to left, transparent, var(--accent-line-color), transparent);
}