.career_map_container-24429d1 {
  position: relative;
  width: 100vw;
  height: 75dvh;
  z-index: 1;
  animation: fade-in 1s var(--ease-in-out-epic);
  opacity: 1;
  transform: translateY(0);
  overflow: hidden;
  border-bottom: solid 25px var(--third-color);
  border-top: solid 25px var(--third-color);

  .career_map-24429d1 {
    width: 50000px;
    height: 50000px;
    overflow: visible;
    background-color: rgba(62, 62, 62, 0.5);
    z-index: 0;
    display: block;
    margin: 0 auto;
    cursor: grab;
    position: absolute;
    left: -1000px;
    top: -500px;
    transform: translate(0px, 0px) scale(1);
    transition: transform 0.1s ease-out;
    will-change: transform;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &:active {
      cursor: grabbing;
    }
  }
}