.intro_container-46bea4c {
  height: 30dvh;
  margin-top: 10dvh;
  padding-left: 5vw;

  b {
    font-size: 3.5rem;
    color: var(--third-color);
    font-weight: 1000;
    margin: 0;
  }

  .intro_line_1-46bea4c {
    font-size: 2.1rem;
  }

  .intro_line_2-46bea4c {
    font-size: 1.7rem;
  }

  .intro_line_3-46bea4c {
    font-size: 1.7rem;
  }
}

@media (min-width: 600px) {
  .intro_container-46bea4c {
    height: 90dvh;
    margin-top: 10dvh;
    padding-left: 10vw;
  }
}