$color_1: var(--brand-color);

.introduction-46bea4c {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  padding-left: 5vw;
  transition: min-height .8s cubic-bezier(0.4,0,0.2,1);
  .introduction_content-46bea4c {
    width: 100%;
    .introduction_greeting-46bea4c {
      font-size: 3.5rem;
      color: $color_1;
      font-weight: 1000;
      margin: 0;
    }
    .introduction_line_1-46bea4c {
      font-size: 2.1rem;
      margin: 0;
    }
    .introduction_line_2-46bea4c {
      font-size: 1.7rem;
      margin: 0;
    }
    .introduction_line_3-46bea4c {
      font-size: 1.7rem;
      margin: 0;
    }
  }
  .introduction_social_media-46bea4c {
    filter: drop-shadow(0px 4px 12px #0000004d);
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    position: absolute;
    top: 5%;
    right: 5%;
    .social_media_link-46bea4c {
      width: 40px;
      height: 40px;
      margin: 10px;
      transition: transform .3s ease-in-out;
      .social_media_img-46bea4c {
        width: 40px;
        height: 40px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.introduction-46bea4c.scrolled-46bea4c {
  min-height: 40dvh;
}
@media (max-width: 600px) {
  .introduction-46bea4c.scrolled-46bea4c {
    min-height: 100dvh;
  }
}
@media (min-width: 600px) {
  .intro_container-46bea4c {
    padding-left: 10vw;
  }
}
