@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --accent-line-color: #fdef00;
  --text-primary: #0a191c;
  --brand-color: #214f46;

  --card-gradient: linear-gradient(180deg, #214f46, #163532, #0a191c);

  --bg-surface: #f2f1f0;
  --bg-base: #4f4f4f;

  --input-border: #646464;

  --semantics-color-red: #FF5630;
  --semantics-color-green: #36B37E;
  --semantics-color-orange: #FFAB00;

  --font-size-body: clamp(1rem, 0.95rem + 0.3vw, 1.2rem);
  --font-size-input: var(--font-size-body);

  --font-scale-ratio: 1.333;

  --font-size-subheading: calc(var(--font-size-body) * var(--font-scale-ratio));
  --font-size-heading: calc(var(--font-size-subheading) * var(--font-scale-ratio));

  --spacing-base: calc(8px + 1.5625vw);

  --ease-in-out-epic: cubic-bezier(0.750, 0.250, 0.250, 0.750);
}

body {
  z-index: 2;
  margin: 0;
  padding: 0;
  background: var(--bg-surface);
  font-family: Source Sans Pro Semibol, sans-serif !important;
  font-size: var(--font-size-body);
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: calc(var(--font-size-heading) * var(--font-scale-ratio));
  line-height: 1.15;
  font-weight: 500;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-heading);
  line-height: 1.2;
  font-weight: 500;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-subheading);
  line-height: 1.3;
  font-weight: 400;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-body);
  line-height: 1.4;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h5 {
  font-size: calc(var(--font-size-body) * 0.9);
  line-height: 1.5;
}

h6 {
  font-size: calc(var(--font-size-body) * 0.8);
  line-height: 1.6;
}

input {
  font-size: var(--font-size-input);
  padding: .5em;
}

textarea {
  font-size: var(--font-size-input);
  padding: .5em;
}

select {
  font-size: var(--font-size-input);
  padding: .5em;
}

button {
  font-size: var(--font-size-input);
  padding: .5em;
  cursor: pointer;
  border: none;
  transition: filter .5s;


}
button:disabled {
  transition: filter .5s;
  filter: saturate(0%);
}